[submodule "real-time-thermostat-analytics-dashboard-web-application"]
	path = real-time-thermostat-analytics-dashboard-web-application
	url = https://github.com/mattnkrueger/real-time-thermostat-analytics-dashboard-web-application.git
    branch = main

[submodule "real-time-thermostat-analytics-dashboard-postgres-orm"]
	path = real-time-thermostat-analytics-dashboard-postgres-orm
	url = https://github.com/mattnkrueger/real-time-thermostat-analytics-dashboard-postgres-orm.git
    branch = main

[submodule "real-time-thermostat-analytics-dashboard-stream-writer"]
	path = real-time-thermostat-analytics-dashboard-stream-writer
	url = https://github.com/mattnkrueger/real-time-thermostat-analytics-dashboard-stream-writer.git
    branch = main

[submodule "real-time-thermostat-analytics-dashboard-celery-worker"]
	path = real-time-thermostat-analytics-dashboard-celery-worker
	url = https://github.com/mattnkrueger/real-time-thermostat-analytics-dashboard-celery-worker.git
    branch = main
